/* Write some CSS below */


/*div{
    border: 1px solid red;
}*/


/* Général*/
body{

    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(15, 133, 13);
}

h1{
    font-size: 42px;
}

h2{

    font-size: 32px ;
    color: white;
}

h3 {
    font-size: 24px ;
}

h1,h2,h3 {

    font-family: Arial, Helvetica, sans-serif;
}

/* Bannière */
.banner{

    background-image: url(images/matchasaloon.png);
    background-position: center;
    background-image: cover;
    margin: 0;
    padding: 150px 0;
    color: rgb(10, 63, 4);
    text-align: center;
    
}

.banner p {
    color: rgb(10, 63, 4);
    font-size: 20px;
    margin-bottom: 40px;

}

/* CTA bannière */
.btn-green {
    background-color: rgb(10, 63, 4);
    padding: 15px 25px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: bold;
    box-shadow: 5px 5px 0 rgb(15, 133, 13);
    transition: 0.5s;
    display: inline-block;
    
}

.btn-green:hover {
   opacity: 0.8;
   transform: translate(-8px,-8px);
}

/* CTA gateaux */

.btn-greenv2 {
    background-color: rgb(10, 63, 4);
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: bold;
    box-shadow: 4px 4px 0 rgb(15, 133, 13);

}


.btn-greenv2:hover {
   opacity: 0.8;
   
}

/* Section */

.section-green{
    background-color: rgb(15, 133, 13);
    color: black;
    margin: 50px 0;
   
}

.container{
    margin: 20px auto;
    width: 900px;
    
}

/* 3 blocs */

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    
}

.card-green{
    border-radius: 5px;
    padding: 20px;
    background-color: rgb(235, 235, 235);
    
    text-align: center;
    box-shadow: 8px 8px 0 rgb(10, 63, 4);
    transition: 0.5s;
    display: inline-block;
}

.card-green:hover {
    transform: translate(-8px,-8px);

}


.card-green img {
    border-radius: 5px;
    width: 96%;
    height: 50%;
    object-fit: cover;
    border: 6px solid rgb(10, 63, 4);

}


/*footer*/

.footer{
    background-color: rgb(10, 63, 4);
    color: white;
    padding: 10px 0;
    text-align: center;
}

.list-inline{
    list-style: none;
    padding-left: 0;
  }

  .list-inline li{
    display: inline;
  }

  .list-inline li i{
    font-size: 25px;
    color: hsl(0, 0%, 100%);
    margin: 0 5px;
  }

  .list-inline li i:hover{
    opacity: 0.5;
  }


/* Test header*/

.header{
    background-color: rgb(10, 63, 4);
    color: white;
    padding: 10px 0;
    text-align: center;
    position: sticky;
    top:0px;
}

/* 3 blocs v2 */

.cardsv2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    
}

.card-greenv2{
    border-radius: 5px;
    background-color: rgb(15, 133, 13);
    text-align: center;
    box-shadow: 4px 4px 0 rgb(225, 225, 225);
    transition: 0.5s;
    display: inline-block;
    }

    .card-greenv2:hover {
        transform: translate(-8px,-8px);

    }


.containerv2{
    margin: 10px auto;
    width: 500px;
    
}